.about {
	overflow: auto;
	display: none;
	background: rgb(156, 104, 235);
	background: linear-gradient(to top, #a76ef3 8%, #32a0ef);
	border-radius: 1rem;
	// width: 85%;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 4rem;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	color: #fff;
	height: auto;
	max-height: 500px;
	&_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 0.4rem;
		&-title {
			margin: auto;
			font-size: 1.5rem;
		}
	}
	&_close {
		font-size: 1.5rem;
	}
	&_info {
		margin: 1.5rem 0;
		&-blurb {
			margin: .5rem;
			font-size: 1.25rem;
		}
		.thanks {
			text-align: center;
			margin-bottom: .5rem;
		}
		&-ul {
			margin: 0;
			padding-left: 1.3rem;
			padding-top: 1rem;
			border-top: 1px solid;
			border-bottom: 1px solid;
		}
		&-li {
			font-size: 1.15rem;
   	 margin-bottom: 1rem;
		}
	}
}