.item {
  &_wrapper {
    display: inline-block;
    margin: auto;
    width: 74%;
    text-align: left;
  }
  box-shadow: 2px 0 4px;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  padding: 0;
  width: 20vw;
  &-image {
    width:10rem;
    height: 10rem;
  }
  &-title {
    padding: 0 0.35rem;
    font-size: 1rem;
    text-align: center;
    height: 2rem;
    font-family: Tahoma, sans-serif;
  }
  &_button {
    &-give {
      border:none;
      background: linear-gradient(to left, $primary 1%, $primary);
      margin: 0;
      padding: 1rem 1rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #eee;
      font-size: 1.1rem;
      width: 100%;
      transition: all .5s;
      &:hover{
        transition: all .5s;
        width: 100%;
        background: linear-gradient(to left, $accent 1%, $primary);
      }
    }
  }
  &-price {
    color: $primary;
    font-family:  Tahoma, sans-serif;
  }
}

[data-available="false"] {
  opacity: .5;
  & > .item_button-give {
    display: none;
  }
}