.item {
  box-shadow: 1px 0 8px;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 2.5rem;
  padding: 0;
  &:last-child(){
    margin-bottom: 6rem;
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    margin-bottom: 4rem;
  }
  &-image {
    width:12rem;
    height: 10rem;
    margin:auto;
    object-fit: contain;
  }
  &-title {
    padding: 0 1rem;
    font-size: 1.35rem;
    text-align: center;
    color: $secondary;
  }
  &_button {
    &-give {
      border:none;
      background: linear-gradient( #420474 1%,$primary);
      margin: 0;
      padding: 1rem 1rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #eee;
      font-size: 1.3rem;
      width: 100%;
      transition: all .5s;
      &:focus{
        outline: none;
      }
      &:hover{
        transition: all .5s;
        width: 100%;
        background: linear-gradient(to left, $gradient1 1%, $primary);
      }
    }
  }
  &-price {
    font-size: 1.75rem;
    color: $primary;
    font-weight: 500;
    margin: 1.25rem 0 .75rem;
  }
}

[data-available="false"] {
  opacity: .75;
  & > .item_button-give {
    display: none;
  }
  & > .item-price {
    visibility: hidden;
  }
}