.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 94%;
  right: 0;
  background: #9d69ea;
  background: linear-gradient(to top, #a76ef3d9 8%, #32a0ef);
  color: #fff;
  border-radius: 1rem;
  margin: auto;
  margin-top: 30%;
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    h3 {
      font-size: 1.1rem;
      padding: 1.75rem 1rem 1rem;
      margin: auto;
      text-align: center;
    }
  }
  &_main {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.1rem;
      margin: auto;
      margin-top: 1.5rem;
      margin-bottom: .5rem;
      font-weight: bold;
    }
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  &_button {
    &-submit {
      margin: 1rem;
      padding: 0.5rem;
      border: none;
      font-size: 1rem;
      border-radius: 15px;
      background: #379dee;
      // background: linear-gradient(to left, #a76ef3d9 8%, #32a0ef);
      color: #fff;
      font-weight: bold;
    }
  }
  &_input{
    &-note{
      padding: .25rem;
      margin: .5rem;
      border:none;
    }
    &-name{
      padding: .25rem;
      font-size:1.1rem;
      margin: .5rem;
      border:none;
    }
  }
}