@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");
html {
  max-width: 500px;
  margin: auto;
}

* {
  max-width: 500px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url("https://www.printawallpaper.com/upload/designs/Space_Background_d.jpg");
  background-attachment: fixed;
  background-size: contain;
}

form {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app {
  position: relative;
  min-height: 100vh;
}

.icon-info, .icon-directions, .icon-moon, .icon-star, .icon-bars {
  color: #fff;
  font-size: 1.8rem;
  margin: auto;
  margin-bottom: .25rem;
}

.icon-heart, .icon-question {
  padding: 2rem;
  color: #fff;
  font-size: 3.5rem;
  margin: auto;
  border-radius: .5rem;
}

.icon-moon {
  color: #fffc71;
}

.icon-star {
  color: #fffc71;
}

.icon-close {
  font-size: 1.5rem;
  position: absolute;
  right: 7%;
  top: 2%;
}

.icon-heart {
  background-color: #d76cf0;
}

.icon-question {
  background-color: coral;
}

.show {
  -webkit-transition: all .4s;
  transition: all .4s;
  display: block !important;
}

.hide {
  -webkit-transition: all .4s;
  transition: all .4s;
  display: none !important;
}

.noVis {
  visibility: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #333399;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #333399), to(#32a0ef));
  background: linear-gradient(to right, #333399 10%, #32a0ef);
  background: -webkit-gradient(linear, right top, left top, color-stop(8%, #a76ef3d9), to(#32a0ef));
  background: linear-gradient(to left, #a76ef3d9 8%, #32a0ef);
  position: fixed;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  font-family: "Open Sans";
  letter-spacing: 1px;
  color: #fff;
  z-index: 3;
}

.item {
  -webkit-box-shadow: 1px 0 8px;
          box-shadow: 1px 0 8px;
  background: #fff;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 2.5rem;
  padding: 0;
}

.item:last-child {
  margin-bottom: 6rem;
}

.item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
  margin-bottom: 4rem;
}

.item-image {
  width: 12rem;
  height: 10rem;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-title {
  padding: 0 1rem;
  font-size: 1.35rem;
  text-align: center;
  color: #5f5f5f;
}

.item_button-give {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #420474), to(#333399));
  background: linear-gradient(#420474 1%, #333399);
  margin: 0;
  padding: 1rem 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #eee;
  font-size: 1.3rem;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.item_button-give:focus {
  outline: none;
}

.item_button-give:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(1%, #32a0ef), to(#333399));
  background: linear-gradient(to left, #32a0ef 1%, #333399);
}

.item-price {
  font-size: 1.75rem;
  color: #333399;
  font-weight: 500;
  margin: 1.25rem 0 .75rem;
}

[data-available="false"] {
  opacity: .75;
}

[data-available="false"] > .item_button-give {
  display: none;
}

[data-available="false"] > .item-price {
  visibility: hidden;
}

.footer_filter, .footer_about, .footer_map {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-filter-text, .footer-info, .footer-dir {
  color: #fff;
  font-size: .9rem;
  margin-bottom: .1rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 0.5rem;
  width: 100%;
  position: fixed;
  background: -webkit-gradient(linear, right top, left top, color-stop(8%, #333399e8), to(#a76ef3));
  background: linear-gradient(to left, #333399e8 8%, #a76ef3);
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.active {
  color: #333399;
}

#filterIcon {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.filter_all, .filter_available, .filterpurchased {
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 5px;
}

.filter {
  border-radius: 5px;
  display: none;
  color: #fff;
  position: fixed;
  bottom: 4rem;
  width: 35%;
  background-color: #333399;
}

.filter_ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter_ul li {
  font-size: 1rem;
  padding: .5rem;
}

.available {
  color: inherit;
}

.activeFilter {
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #32a0ef;
  font-weight: bold;
}

.modal_button-availability, .modal_button-submit {
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 15px;
  background: #379dee;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 80%;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 94%;
  right: 0;
  background: #9d69ea;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8%, #a76ef3d9), to(#32a0ef));
  background: linear-gradient(to top, #a76ef3d9 8%, #32a0ef);
  color: #fff;
  border-radius: 1rem;
  margin: auto;
  margin-top: 20%;
  height: auto;
  margin-bottom: 4rem;
}

.modal_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem 0;
}

.modal_header h3 {
  font-size: 1.1rem;
  padding: 1.75rem 1rem 1rem;
  margin: auto;
  text-align: center;
}

.modal_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.modal_main .name-p {
  display: none;
}

.modal_main p {
  margin-top: .5rem;
  text-align: center;
}

.modal_main .availtext {
  display: none;
}

.modal_main .unavailtext {
  display: none;
}

.modal_button-availability {
  margin-bottom: 0;
}

.modal_button-availability-true {
  background-color: green;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-top: .5rem;
}

.modal_button-availability-confirm {
  display: none;
}

.modal_button-availability-false {
  background-color: #e00800;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-top: .5rem;
}

.modal_button-submit {
  display: none;
}

.modal_input-note {
  display: none;
  padding: .25rem;
  margin: .5rem;
  border: none;
  width: 80%;
}

.modal_input-name {
  display: none;
  padding: .25rem;
  font-size: 1.1rem;
  margin: .5rem .5rem 0;
  border: none;
  width: 80%;
}

#button:focus {
  outline: #32a0ef;
  border-radius: 1rem;
}

#spanAvail {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.enterName {
  outline: red;
}

.about {
  overflow: auto;
  display: none;
  background: #9c68eb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8%, #a76ef3), to(#32a0ef));
  background: linear-gradient(to top, #a76ef3 8%, #32a0ef);
  border-radius: 1rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  height: auto;
  max-height: 500px;
}

.about_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.4rem;
}

.about_header-title {
  margin: auto;
  font-size: 1.5rem;
}

.about_close {
  font-size: 1.5rem;
}

.about_info {
  margin: 1.5rem 0;
}

.about_info-blurb {
  margin: .5rem;
  font-size: 1.25rem;
}

.about_info .thanks {
  text-align: center;
  margin-bottom: .5rem;
}

.about_info-ul {
  margin: 0;
  padding-left: 1.3rem;
  padding-top: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.about_info-li {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.donation_paypal, .donation_cashapp, .donation_love, .donation_other {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 6px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.donation_paypal-header, .donation_cashapp-header, .donation_love-header, .donation_other-header {
  padding: 2rem;
  margin: 0;
  text-align: center;
  font-size: 1.75rem;
}

.donation_paypal img, .donation_cashapp img, .donation_love img, .donation_other img {
  width: 100%;
  margin: auto;
  height: 63%;
  margin-top: 0;
  margin-bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .75rem;
}

.donation {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #6a79df;
  background: linear-gradient(243deg, #a46cf0 1%, #389cee);
  color: #fff;
  width: 94%;
  margin: auto;
  margin-top: 20%;
  border-radius: 10px;
  font-size: 1.25rem;
}

.donation_main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #178ff3), color-stop(25%, #05d405), color-stop(50%, #ea83ae), color-stop(50%, #fb6b04));
  background: linear-gradient(#178ff3 25%, #05d405 25% 50%, #ea83ae 50% 75%, #fb6b04 50%);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.donation_header {
  margin: auto;
}

.donation_paypal {
  background-color: #178ff3;
}

.donation_paypal a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #fff;
}

.donation_cashapp {
  background-color: #05d405;
}

.donation_cashapp a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #fff;
}

.donation_love {
  background-color: #ea83ae;
}

.donation_love a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.donation_love-icon {
  margin: auto;
  text-align: center;
}

.donation_love-content {
  display: none;
  height: 20%;
}

.donation_love textarea {
  width: 95%;
  display: block;
  margin: auto;
  border: none;
  padding: .25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  z-index: 1;
}

.donation_love button {
  color: #fff;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #349eee;
}

.donation_love #lovesender {
  margin: auto;
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 80%;
  border: none;
  padding: .1rem;
}

.donation_other {
  background-color: #fb6b04;
}

.donation_other a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.donation_other-icon {
  margin: auto;
  text-align: center;
  width: 89%;
}

.donation_other-content {
  display: none;
}

.donation_other p {
  display: block;
  margin: auto;
  padding: 0 1rem 1rem;
  font-size: 1.1rem;
}
/*# sourceMappingURL=global.css.map */